<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GEC - Grammatical Error Correction</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- <script src="script.js"></script> -->
  </head>
  <body>

    <!-- page content -->
    <div>
      <form id="main-form" action="" method="POST">
          <textarea name="textbox" rows="30" cols="100">Put your sentences here .</textarea>
          <br>
          <input type="submit" value="Go">
      </form>
    </div>



  </body>
</html>
